<%= form_tag root_path, method: 'get' do %>
  <%= label_tag :from %>
  <%= select :airport, :from_id, @airports %>
  <br>
  <%= label_tag :to %>
  <%= select :airport, :to_id, @airports %>
  <br>
  <%= label_tag :passengers %>
  <%= select_tag :passengers, options_for_select(@passengers) %>
  <br>
  <%= label_tag :date %>
  <%= select_tag :date, options_for_select(@flight_dates), include_blank: true %>
  <br>
  <%= submit_tag 'Search' %>
<% end %>

<% if @result_flights %>
  <%= form_tag new_booking_path, method: 'get' do %>
    <ul>
      <% @result_flights.each do |flight| %>
        <li>
          <%= radio_button_tag 'flight', flight.id %>
          <p>From: <%= flight.from_airport.code %></p>
          <p>To: <%= flight.to_airport.code %></p>
          <p>Time: <%= flight.start_time %></p>
        </li>
      <% end %>
    </ul>
    <%= hidden_field_tag('passengers_number', @passengers_number) %>
    <%= submit_tag 'Book Flight' %>
  <% end %>
<% end %>
